target
.metadata
build
build.gradle
/Source/Android/UnOrganised/unOrganised/unOrganised.iml
local.properties
settings.gradle
UnOrganised.iml
.gradle
.idea
gen
googleplayservices_lib
gradle
gradlew
gradlew.bat
import-summary.txt
/Source/Android/UnOrganised/unOrganised/src_14_12.zip
.tmp
bower_components
node_modules
/Source/Android/UnOrganised/unOrganised/src/main/java/com/unorganised/activities/Seeker_Info.java
